In [1]:
name = "Vikas"
print(f"Hello, {name}!")

Hello, Vikas!

In [2]:
print(type(name))

<class 'str'>

In [3]:
name = input("Enter your name: ")
print(f"Hello, {name}!")

Hello, vikas!

In [4]:
type(name)

str

In [5]:
a = True
b = 'True'

print(type(a))
print(type(b))

<class 'bool'>
<class 'str'>

In [8]:
accuracy = 95.43
print(accuracy)
print(type(accuracy))

95.43
<class 'float'>

In [9]:
int(accuracy)

95

In [10]:
var = 2
type(var)

int

In [11]:
float_var = float(var)
print(float_var)
print(type(float_var))

2.0
<class 'float'>

In [12]:
str_var = str(var)
print(str_var)
print(type(str_var))

2
<class 'str'>

In [13]:
# But we cannot convert a string to an integer if it contains non-numeric characters

In [14]:
a = "10"
type(a)

str

In [15]:
b = int(a)
print(b)

10

In [16]:
type(b)

int

In [20]:
a = "2.5"
#b = int(a)  # This will raise a ValueError

In [18]:
a = "2.5"
b = float(a)  # This will work
print(b)
print(type(b))

2.5
<class 'float'>

In [19]:
c = int(b)
print(c)  # This will truncate the decimal part
print(type(c))

2
<class 'int'>

In [21]:
a = 'hello'

# Indexing
print(a[0])  # First character
print(a[1])  # Second character
print(a[-1])  # Last character
# Slicing
print(a[1:4])  # Characters from index 1 to 3
print(a[1:])  # Characters from index 1 to the end
print(a[:3])  # First three characters
print(a[-3:])  # Last three characters
print(a[1:4:2])  # Characters from index 1 to 3, step by 2

h
e
o
ell
ello
hel
llo
el

In [22]:
a = int(input("Enter a number: "))
b = int(input("Enter another number: "))

print(f"The sum of {a} and {b} is {a + b}.")
print(f"The difference of {a} and {b} is {a - b}.")
print(f"The product of {a} and {b} is {a * b}.")
print(f"The quotient of {a} and {b} is {a / b}.")
print(f"The integer division of {a} and {b} is {a // b}.")
print(f"The remainder of {a} and {b} is {a % b}.")
print(f"The power of {a} raised to {b} is {a ** b}.")

The sum of 5 and 4 is 9.
The difference of 5 and 4 is 1.
The product of 5 and 4 is 20.
The quotient of 5 and 4 is 1.25.
The integer division of 5 and 4 is 1.
The remainder of 5 and 4 is 1.
The power of 5 raised to 4 is 625.

In [23]:
4//8

0

In [24]:
8//2

4

In [25]:
8//3

2

In [26]:
2**3

8

In [28]:
3^4 # This is a bitwise XOR operation, not exponentiation

7

In [29]:
print("The End")

The End