In [1]:
lst1 = [1, 2, 3, 4, 5]
lst1

[1, 2, 3, 4, 5]

In [2]:
list2 = ["vikas", "suresh", "karthik", "siva",32, 45.6, True]
list2

['vikas', 'suresh', 'karthik', 'siva', 32, 45.6, True]

In [3]:
print(type(list2))

<class 'list'>

In [4]:
tuple1 = (1, 2, 3, 4, 5)
print(type(tuple1))

<class 'tuple'>

In [5]:
nested_list = [1, 2, 3, [4, 5, 6], 7,"vikas", 8.9, True]
print(nested_list)
print(type(nested_list))

[1, 2, 3, [4, 5, 6], 7, 'vikas', 8.9, True]
<class 'list'>

In [6]:
lis = [1,2,"vikas",4,5,True, 6.7]
lis

[1, 2, 'vikas', 4, 5, True, 6.7]

In [7]:
lis[0] = 100
print(lis)

[100, 2, 'vikas', 4, 5, True, 6.7]

In [8]:
l1 = [1, 2, 3, 4, 5]
l2 = ["a", "b", "c", "d", "e"]
l3 = l1 + l2
print(l3)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

In [9]:
l1.append("vikas")

In [10]:
l1

[1, 2, 3, 4, 5, 'vikas']

In [11]:
print(1 in l1)
print("vikas" in l1)
print("vikas" in l2)

True
True
False

In [12]:
l1 = ["Maths", "Physics", "Chemistry", "Biology"]

l1[3] = "English"

In [13]:
l1

['Maths', 'Physics', 'Chemistry', 'English']

In [14]:
list1 = [11, 22, 33, 44, 55]
list1.extend([66, 77, 88])
print(list1)

[11, 22, 33, 44, 55, 66, 77, 88]

In [17]:
list2 = ["vikas", "suresh", "karthik", "siva"]
list1.append(list2)

In [18]:
list1

[11,
 22,
 33,
 44,
 55,
 66,
 77,
 88,
 [['vikas', 'suresh', 'karthik', 'siva']],
 ['vikas', 'suresh', 'karthik', 'siva']]

In [20]:
l1 = [1, 2, 3, 4, 5]
del l1[2]

In [21]:
l1

[1, 2, 4, 5]

In [22]:
l1 = [1, 2, 3, 4, 5]
l1.insert(2, 100)
print(l1)

[1, 2, 100, 3, 4, 5]

In [23]:
l1.pop()

5

In [26]:
l1 = [1, 2, 3, 4, 5]
l1.remove(3)
print(l1)

[1, 2, 4, 5]

In [27]:
A = [23,45,76,32,67,89,12,34]
A.sort()
print(A)

[12, 23, 32, 34, 45, 67, 76, 89]

In [28]:
A.sort(reverse=True)
print(A)

[89, 76, 67, 45, 34, 32, 23, 12]

In [30]:
# difference between sort and sorted
B = [23, 45, 76, 32, 67, 89, 12, 34]
C = sorted(B)
print(B)
print(C)
C = B.sort()
print(B)
print(C)
# sorted returns a new sorted list, while sort modifies the original list in place

[23, 45, 76, 32, 67, 89, 12, 34]
[12, 23, 32, 34, 45, 67, 76, 89]
[12, 23, 32, 34, 45, 67, 76, 89]
None

In [31]:
input = "Kumar_Vikas_008"
a = input.split("_")
print(a)

['Kumar', 'Vikas', '008']

In [32]:
print("The End")

The End