In [1]:
t = (1,2,3,4,5,6,7,8,9,10)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
type(t)

tuple

In [3]:
t2 = 1,2,3,4,5,6,7,8,9,10
print(t2)
type(t2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

tuple

In [6]:
l1 = [1, 2, 3, 4, 5]
t3 = tuple(l1)
print(t3)
type(t3)

(1, 2, 3, 4, 5)

tuple

In [7]:
t = (1, 2, 3, 4, 5, "vikas", "kumar", 1.2, 3.4, 5.6)
print(t)
type(t)

(1, 2, 3, 4, 5, 'vikas', 'kumar', 1.2, 3.4, 5.6)

tuple

In [8]:
length = len(t)
print(length)

10

In [11]:
nested_t = (1, 2, 3, [4, 5, 6], (7, 8, 9))
print(nested_t)
type(nested_t)

(1, 2, 3, [4, 5, 6], (7, 8, 9))

tuple

In [12]:
t1 = 1.2,
print(t1)
type(t1)

(1.2,)

tuple

In [13]:
t1 = 1.2
print(t1)
type(t1)

1.2

float

In [14]:
t2 = (2)
print(t2)
type(t2)

2

int

In [15]:
t2 = (2,)
print(t2)
type(t2)

(2,)

tuple

In [1]:
# Indexing in tuples
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(t[0])  # First element
print(t[1])  # Second element
print(t[-1])  # Last element
print(t[-2])  # Second last element
# Slicing in tuples
print(t[0:5])  # First five elements
print(t[5:])  # Elements from index 5 to the end
print(t[:5])  # First five elements
print(t[5:8])  # Elements from index 5 to 7
print(t[::2])  # Every second element
print(t[::-1])  # Reversed tuple
# Concatenation and repetition
t1 = (1, 2, 3)
t2 = (4, 5, 6)
t3 = t1 + t2  # Concatenation
print(t3)
t4 = t1 * 3  # Repetition
print(t4)
# Membership testing
print(1 in t)  # Check if 1 is in the tuple
print(11 in t)  # Check if 11 is in the tuple

1
2
10
9
(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)
(1, 2, 3, 4, 5)
(6, 7, 8)
(1, 3, 5, 7, 9)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
True
False

In [2]:
t1 = (1, 2, 3)
t4 = t1 * 3  # Repetition
print(t4)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [3]:
# Sum , max, min, sorted
t = (1, 2, 3, 4, 5)
print(sum(t))  # Sum of elements
print(max(t))  # Maximum element
print(min(t))  # Minimum element
print(sorted(t))  # Sorted tuple
# Tuple unpacking
a, b, c = (1, 2, 3)
print(a)  # 1
print(b)  # 2
print(c)  # 3
# Tuple methods
t = (1, 2, 3, 4, 5)
print(t.count(2))  # Count occurrences of 2
print(t.index(3))  # Index of first occurrence of 3

15
5
1
[1, 2, 3, 4, 5]
1
2
3
1
2

In [4]:
print("The End")

The End